################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.bin
/.vs/YFrame
/YFrame/bin/Debug/net8.0-windows/Log/LogInfo
/YFrame/bin/Debug/net8.0-windows
/YFrame/obj
/YF_Manager/bin/Debug/net8.0-windows
/YF_Manager/obj
/.editorconfig
/YFrame/bin/Debug/backup
/YFrame/bin/Debug/net8.0-windows.zip
/Review
/YFrame.Tests/bin/Debug/net8.0-windows
/YFrame.Tests/obj
/YFrame/bin/Release/net8.0-windows
/YF_Manager/bin/Release/net8.0-windows
